@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Noto+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap");

@theme {
  --color-primary: #000666;
  --color-primary-container: #1a237e;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #8690ee;
  --color-primary-fixed: #e0e0ff;
  --color-primary-fixed-dim: #bdc2ff;
  --color-on-primary-fixed: #000767;
  --color-on-primary-fixed-variant: #343d96;
  --color-surface-tint: #4c56af;
  
  --color-secondary: #515f74;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #d5e3fc;
  --color-on-secondary-container: #57657a;
  --color-secondary-fixed: #d5e3fc;
  --color-secondary-fixed-dim: #b9c7df;
  --color-on-secondary-fixed: #0d1c2e;
  --color-on-secondary-fixed-variant: #3a485b;
  
  --color-tertiary: #00201c;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #003732;
  --color-on-tertiary-container: #34a89c;
  --color-tertiary-fixed: #89f5e7;
  --color-tertiary-fixed-dim: #6bd8cb;
  --color-on-tertiary-fixed: #00201d;
  --color-on-tertiary-fixed-variant: #005049;

  --color-background: #f7f9fb;
  --color-on-background: #191c1e;
  --color-surface: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-surface-variant: #e0e3e5;
  --color-on-surface-variant: #454652;
  --color-surface-bright: #f7f9fb;
  --color-surface-dim: #d8dadc;
  
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-container-high: #e6e8ea;
  --color-surface-container-highest: #e0e3e5;
  
  --color-surface-border: #E2E8F0;
  --color-text-main: #1E293B;
  --color-outline: #767683;
  --color-outline-variant: #c6c5d4;
  
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-danger-red: #B91C1C;
  --color-warning-amber: #B45309;
  --color-success-green: #166534;
  --color-info-blue: #1D4ED8;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Helvetica, Arial, sans-serif;
}

